/* 
--primary

-soft-red: hsl(10, 79%, 65%);
-cyan: hsl(186, 34%, 60%);

--neutral

-dark-brown: hsl(25, 47%, 15%);
-medium-brown: hsl(28, 10%, 53%);
-cream: hsl(27, 66%, 92%);
-very-orange: hsl(33, 100%, 98%);

## Typography

### Body Copy

- Font size: 18px

### Font

font-family: 'DM Sans', sans-serif;
- Weights: 400, 700
 */
:root {
  --primary-soft-red: hsl(10, 79%, 65%);
  --primary-cyan: hsl(186, 34%, 60%);

  --neutral-dark-brown: hsl(25, 47%, 15%);
  --neutral-medium-brown: hsl(28, 10%, 53%);
  --neutral-cream: hsl(27, 66%, 92%);
  --neutral-very-orange: hsl(33, 100%, 98%);
}
/*Setting to zero*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

/* main take up the whole screen */
body {
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: var(--neutral-cream);
  color: var(--neutral-dark-brown);
}
main {
  flex: 1 1 auto;
}

/* page container */
.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 450px;
  margin: 40px auto 0 auto;
  padding: 0 15px;
}

.balance-area {
  margin-bottom: 30px;
  padding: 20px;
  background-color: var(--primary-soft-red);
  color: var(--neutral-very-orange);
  border-radius: 20px;
}
.balance-area p {
  font-size: 14px;
}
.balance-area h3 {
  font-size: 24px;
}

.spending {
  padding: 30px;
  background-color: var(--neutral-very-orange);
  border-radius: 20px;
}
.chart-area h3 {
  font-size: 25px;
  font-weight: 700;
}

/* chart */
.chart {
  padding-top: 55px;
}
.chart div {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: top;
}
.bar {
  width: 42px;
  position: relative;
  border-radius: 5px;
  color: var(--neutral-medium-brown);
}
.bar:last-child {
  margin-right: 0;
}
.day-label {
  margin-top: 5px;
  font-size: 12px;
  white-space: nowrap;
}

hr {
  color: var(--neutral-medium-brown);
}

.total-area > p {
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--neutral-medium-brown);
}
.total-value {
  font-size: 38px;
  font-weight: 700;
  margin: 0;
}
.comparing h3 {
  font-weight: 700;
  font-size: 14px;
  margin: 0;
}
.comparing p {
  font-size: 14px;
  margin: 0;
  color: var(--neutral-medium-brown);
}
/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 450px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 450px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 30px;
    margin: 0;
  }
}
